<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" rel="dns-prefetch">
  <meta name="description" content="SignUp with a new Restaurant">
  <meta name="author" content="Akul M">
</head>
<body>
  <div class="row">
    <form action="{{ url_for('delete', rest_id=rest.id_) }}" method=post class=delete>
      Restaurant Name:<br>
      {{ rest.name }}
      <input type="submit" name="submit" value="Yes">
      <input type="submit" name="submit" value="No">
    </form>
  </div>
</body>
</html>
