{% extends "base.html" %}

    {% block content %}
        <div class="row">
            <ul id="restaurants">
              {% for r in rest_list|sort(attribute='name') %}
              <li>
                <h5>{{ r.name }}</h5>
                <a href="{{ url_for('update', rest_id=r.id_) }}"> Edit </a>
                <a href="{{ url_for('delete', rest_id=r.id_) }}"> Delete </a>
              </li>
              {% endfor %}
            </ul>
        </div>
        <div class="row">
            <div class="col-md-3">
                <a href="{{ url_for('new') }}" margin-left="40px"> Create a New Restaurant</a>
            </div>
        </div>
    {% endblock %}
