{% extends "base.html" %}



    {% block title %}
              EasyFood: Order Food Easily: Food that your tastebuds love
    {% endblock %}

    {% block header %}
        <!-- Header -->
        <header>
          <div class="container">
            <div class="intro-text">
              <div class="intro-lead-in">Food that you Love to eat.
                <br>Coming Soon!
              </div>
              <div class="intro-heading">The Future of Food Ordering Service</div>
            </div>
          </div>
        </header>
    {% endblock %}
